WebApplication1/.vs/WebApplication1/FileContentIndex/6ba30012-9468-4af4-8de5-d8f874a76b9e.vsidx
WebApplication1/.vs/WebApplication1/FileContentIndex/
WebApplication1/WebApplication1/Controllers/WeatherForecastController_BACKUP_457.cs
WebApplication1/WebApplication1/Controllers/WeatherForecastController_BASE_457.cs
WebApplication1/WebApplication1/Controllers/WeatherForecastController_LOCAL_457.cs
WebApplication1/WebApplication1/Controllers/WeatherForecastController_REMOTE_457.cs
